/* Note : always specify the scope "#etNotifs" on each style
   to avoid modifying the specific styles of the game */
  
/* The main notifications button (round dice) */
#etNotifs #button {
	position:relative;
	font-size:1.5em;
	height:2em;
	width: 2em;
	border-radius:50%;
	border:1px solid grey;
	box-shadow: 4px 4px 4px black;
	cursor:pointer;
}
#etNotifs #button:hover #icon {
	animation: rotate 0.8s; 
}
@keyframes rotate {
	100% { transform:rotate(360deg); }
}

/* The number of notifications (red dot) */
#etNotifs .dotnum {
	display:block;
	position:absolute;
	top:0;
	left:2.3em;
	height:1.1rem;
	width: 1.1rem;
	font-size:0.9rem;
	color:white;
	background:red;
	border-radius:50%;
	z-index:1;
}

/* The frame which contains the notifications */
#etNotifs #tooltip {
	display:none;
	position:relative;
	max-width:20em;
	padding:1em 0.5em 0 0.5em;
	border:1px solid black;
	border-radius:0.3em;
	box-shadow: 4px 4px 4px black;
	background:#d0ece7;
}

/* The button to invite new players */
#etNotifs #playersInvitation button {
	display:block;
	margin:auto;
	cursor:pointer;
	box-shadow: 4px 4px 4px black;
}

/* Styles for each notification */
#etNotifs .notif {
	margin-bottom: 1em;
	padding-bottom:1.3em;
	border-bottom:1px solid grey;
}
#etNotifs .joinButton {
	display:inline-block;
	margin-top:0.5em;
	padding:0.3em 0.4em;
	border-radius:0.3em;
	color:white;
	background:darkred;
	text-decoration:none;
	box-shadow: 4px 4px 4px black;
}
#etNotifs .joinButton:hover {
	position:relative;
	top: 2px;
	left:2px;
	box-shadow: 2px 2px 2px black;
}
